
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>
    <div>
        user id : <input type="text" name="id" />
    </div>
    <div>
        password : <input type="password" name="id" />
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>