
@{
    ViewBag.Title = "Index";
}

<h2>メニュー</h2>

<hr/>

@Html.ActionLink("患者台帳", "Index", "Patient")<br />
@Html.ActionLink("分娩台帳", "Index", "Birth")<br />
@Html.ActionLink("新生児台帳", "Index", "Newbaby")<br />
@Html.ActionLink("統計", "Index", "Stats")<br />

